<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="assets/styleguide.css" />
    <link rel="stylesheet" href="assets/style.css" />
</head>
<body>
<div class="element-main">
    <div class="div">
        <header class="header">
            <div class="text-wrapper">Shmyaks AI</div>
            <div class="buttons">
                <button class="button"><div class="text-wrapper-2">Главная</div></button>
                <button class="div-wrapper"><div class="text-wrapper-3">История</div></button>
            </div>
        </header>
        <img class="load-window" src="assets/load window.svg" />
        <div class="view-window"></div>
        <p class="p">Загрузите фотографию или архив. Перетащите файлы в окно</p>
        <button class="button-2"><div class="text-wrapper-2">Начать</div></button>
        <img class="arrows" src="assets/arrows.svg" />
        <img class="img" src="assets/image.svg" />
        <div class="text-wrapper-4">Документ:</div>
        <div class="text-wrapper-5">Тип:</div>
    </div>
</div>
</body>
</html>
