:root {
    --designbackground: rgba(247, 248, 255, 1);
    --buttonsblue: rgba(36, 55, 226, 1);
    --textblack: rgba(23, 23, 23, 1);
    --label-font-family: "Inter", Helvetica;
    --label-font-weight: 400;
    --label-font-size: 16px;
    --label-letter-spacing: 0px;
    --label-line-height: normal;
    --label-font-style: normal;
    --p-font-family: "Inter", Helvetica;
    --p-font-weight: 400;
    --p-font-size: 20px;
    --p-letter-spacing: 0px;
    --p-line-height: normal;
    --p-font-style: normal;
    --h-3-font-family: "Inter", Helvetica;
    --h-3-font-weight: 500;
    --h-3-font-size: 24px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: normal;
    --h-3-font-style: normal;
    --h-2-font-family: "Inter", Helvetica;
    --h-2-font-weight: 400;
    --h-2-font-size: 30px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: normal;
    --h-2-font-style: normal;
    --h-1-font-family: "Inter", Helvetica;
    --h-1-font-weight: 400;
    --h-1-font-size: 42px;
    --h-1-letter-spacing: 0px;
    --h-1-line-height: normal;
    --h-1-font-style: normal;
    --p-medium-font-family: "Inter", Helvetica;
    --p-medium-font-weight: 500;
    --p-medium-font-size: 20px;
    --p-medium-letter-spacing: 0px;
    --p-medium-line-height: normal;
    --p-medium-font-style: normal;
}
